<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- <%- include('../includes/head') %> -->
  </head>
  <body>
    <!-- <%- include('../includes/header') %> -->

    <div class="container" style="margin-top: 80px !important">
      <div class="row justify-content-md-center mb-5">
        <div class="col-md-12 mt-5">
          <h2 class="text-center title">
            About Us
            <hr />
          </h2>
        </div>
      </div>

      <div class="row justify-content-md-center mb-5">
        <div class="col-md-8 py-3 custom_table">
          <h3 class="text-center">
            About Our Company
            <hr />
          </h3>
          <p>
            Welcome to our company! We are passionate about delivering quality services and products that exceed your expectations. Our team is dedicated to creating innovative solutions tailored to your needs.
          </p>
        </div>
      </div>
    </div>

    <!-- <%- include('../includes/scripts') %> -->
  </body>
</html>
